<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>

        <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/style.css" rel="stylesheet" type="text/css"/>

        <script src="/jquery-3.1.0.min.js"></script>
        <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Tek Movie App</h1>
                <p>Teknyske's collection of films.</p>
            </div>
        </div>

        <div class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/film/list}">Films</a></li>
                    <li><a th:href="@{/actor/list}">Actors</a></li>
                    <li><a th:href="@{/review/list}">Reviews</a></li>
                </ul>
            </div>
        </div>

        <div class="container">
            <h1>Add a review to a film</h1>

            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Length</th>
                    <th>Release year</th>

                </tr>

                <tr >
                    <td th:text="${film.title}"></td>
                    <td th:text="${film.description}"></td>
                    <td th:text="${film.length}"></td>
                    <td th:text="${film.releaseYear}"></td>
                </tr>
            </table>

            <h1>Existing reviews for this film...</h1>
            <table class="table table-striped">
                <tr>
                    <th>Review (text)</th>
                    <th>Rating (score)</th>
                </tr>

                <tr th:each="r : ${film.reviewList}">
                    <td th:text="${r.reviewText}"></td>
                    <td th:text="${r.rating}"></td>
                </tr>

            </table>

            <h1>Add another review to this film...</h1>

            <form method="post" th:action="@{/addreview}" th:object="${review}">
                <input type="hidden" name="filmId" th:value="${film.id}"/>

                <div th:class="${#fields.hasErrors('reviewText') ? 'form-group has-error' : 'form-group'}">
                    <label for="reviewText" class="control-label">Review Text</label>
                    <input id="reviewText" th:field="*{reviewText}" th:value="*{reviewText}" type="text" class="form-control"/>
                    <div th:if="${#fields.hasErrors('reviewText')}" th:errors="*{reviewText}" class="help-block"></div>
                </div>

                <div th:class="${#fields.hasErrors('rating') ? 'form-group has-error' : 'form-group'}">
                    <label for="rating" class="control-label">Review Rating</label>
                    <input id="rating" th:field="*{rating}"  th:value="*{rating}" type="text" class="form-control"/>
                    <div th:if="${#fields.hasErrors('rating')}" th:errors="*{rating}" class="help-block"></div>

                </div>

                <div class="form-group">
                    <input type="submit" value="Submit Review" class="btn btn-primary"/>
                </div>

            </form>
        </div>
    </body>
</html>