<!DOCTYPE html>

<html lang="en">
    <head>
        <meta charset="UTF-8"/>
        <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/style.css" rel="stylesheet" type="text/css"/>

        <script src="/jquery-3.1.0.min.js"></script>
        <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>

    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Tek Movie App</h1>
                <p>This is my collection of films. Joepie!</p>
            </div>
        </div>

       <div>
           <h1>
           <a href="/film/list" >Films</a>
           <a href="/actor/list">Actors</a>
           </h1>

       </div>
    </body>
</html>