<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="UTF-8"/>

        <link href="/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css"/>
        <link href="/style.css" rel="stylesheet" type="text/css"/>

        <script src="/jquery-3.1.0.min.js"></script>
        <script src="/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    </head>
    <body>
        <div class="jumbotron">
            <div class="container">
                <h1>Tek Movie App</h1>
                <p>Teknyske's collection of films. </p>
            </div>
        </div>

        <div class="navbar navbar-default">
            <div class="container">
                <ul class="nav navbar-nav">
                    <li><a th:href="@{/film/list}">Films</a></li>
                    <li><a th:href="@{/actor/list}">Actors</a></li>
                    <li><a th:href="@{/review/list}">Reviews</a></li>
                </ul>
            </div>
        </div>


        <div class="container">
            <h1>Select a film to add a review to...</h1>
            <table class="table table-striped">
                <tr>
                    <th>Title</th>
                    <th>Description</th>
                    <th>Length</th>
                    <th>Release year</th>
                    <th>Controls</th>
                </tr>

                <tr th:each="f : ${filmList}">
                    <td th:text="${f.title}"></td>
                    <td th:text="${f.description}"></td>
                    <td th:text="${f.length}"></td>
                    <td th:text="${f.releaseYear}"></td>
                    <td>
                        <a th:href="@{/addreview(filmId=${f.id})}" class="btn btn-xs btn-info">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </a>

                    </td>
                </tr>

            </table>
        </div>
    </body>
</html>